.navbar-background-color{
    background-color: #019ec1;  
}

.navbar-text-color .navbar-header a{
    color: white;
}

.navbar-text-color .navbar-collapse .nav a{
    color: white;
}

h1{
    font-family: 'Open Sans', sans-serif;
}

.home-callout{
    color: white;
    background-color: #019ec1;
    margin-top: -20px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.navbar{
    border-radius: 0px;
    border: none;
}

.navbar-brand{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
